@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --navbar-font: 'Outfit', sans-serif;
}

/* Scroll Progress Bar */
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--navbar-primary-green);
    z-index: 9999;
    transition: width 0.1s ease-out;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Global scrollbar */
::-webkit-scrollbar {
    width: 3px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: var(--color-white);
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: var(--color-emerald-500);
    border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-white);
}